/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */ }

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clear {
  clear: both; }

.alignright {
  float: right;
  padding: 0 0 10px 10px;
  /* note the padding around a right floated image */ }

.alignleft {
  float: left;
  padding: 0 10px 10px 0;
  /* note the padding around a left floated image */ }

body {
  background: #2B1932;
  font-family: 'Oswald', sans-serif;
  color: #fff; }

.hero {
  background: url("../images/dinnerTable.png") center;
  background-size: cover;
  padding: 100px 0; }

.logo {
  width: 100%;
  box-shadow: 2px 3px 8px 2px #160d19; }

.img-responsive {
  margin: 0 auto; }

#recipes {
  text-align: center;
  padding-top: 60px;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 100px; }
  #recipes p {
    padding-bottom: 20px; }

.un-button, .custom-button {
  font-size: 0.5em;
  border: 2px solid #fff;
  color: #fff; }

.un-button {
  padding: 6px;
  width: 218px;
  background: #2B1932;
  border-right: none; }

.btn.un-button:hover, .btn.un-button:visited, .btn.un-button:active {
  color: #fff;
  z-index: 0;
  cursor: default; }

.custom-button {
  background: #D86D2F;
  border-left: none; }

.dropdown-menu {
  width: 100%; }

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #fff; }

/****************************************************************************/
.recipePageHeader {
  border-bottom: 32px solid #2B1932; }

.mainImageContainer {
  height: 325px; }

.recipeLabel {
  background: url("../images/recipeName.svg") center center no-repeat;
  background-size: cover;
  height: 84px;
  width: 280px;
  position: relative;
  top: 310px;
  margin: 0 auto; }
  .recipeLabel p {
    padding-top: 18px;
    font-size: 1.5em;
    text-align: center; }

.recipeMain {
  background: #DCBD8F;
  color: #2B1932;
  padding-top: 4em;
  font-size: 1em;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.6; }
  .recipeMain .fa-play {
    transition: transform 0.3s ease-in-out;
    margin-left: 5px;
    cursor: pointer; }
  .recipeMain .fa-minus {
    vertical-align: middle; }
  .recipeMain section ol, .recipeMain section ul {
    padding: 10px 0; }
  .recipeMain section h3 {
    display: inline-block;
    font-weight: 700; }
  .recipeMain section ol {
    list-style: decimal;
    padding-left: 24px;
    font-weight: 700; }
    .recipeMain section ol span {
      font-weight: 400;
      padding-left: 6px; }
  .recipeMain section ul {
    padding-left: 8px;
    transition: background-color 0.4s ease-in-out;
    position: relative;
    overflow: hidden; }
    .recipeMain section ul span {
      padding-left: 10px;
      cursor: default; }

.allIngredients {
  position: absolute;
  padding: 50px 20px;
  top: 10%;
  left: -150%;
  background: rgba(87, 141, 154, 0.7);
  color: #fff;
  opacity: 0;
  text-align: center;
  width: 230px;
  font-weight: 500;
  transition: opacity 0.5s ease-in-out, left 0.7s ease-in-out; }
  .allIngredients i {
    width: 100%; }

.active {
  opacity: 1;
  left: 18%; }

.rotate {
  transform: rotate(90deg); }

.ham {
  background: url("../images/ham.png") center center no-repeat;
  background-size: cover; }

.ingredients, .instructions, .nutrition {
  padding-bottom: 30px; }

.ingredients {
  padding-top: 2em; }
  .ingredients .crossOut {
    text-decoration: line-through; }
  .ingredients .groceryMode {
    padding: 30px 0;
    padding-left: 44px;
    background: url("../images/groceryMode.svg") center left no-repeat;
    background-color: #BCD5DD;
    background-repeat-y: inherit; }
    .ingredients .groceryMode span {
      cursor: pointer; }

footer {
  text-align: center;
  padding: 20px 0; }
  footer .author {
    padding-bottom: 20px; }
  footer span {
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1.3em; }
  footer p {
    text-align: left;
    line-height: 1.5;
    font-size: 0.8em;
    color: #ffc8ff; }
  footer .actually {
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    color: #ffc8ff;
    border-bottom: 3px solid #ffc8ff; }
  footer img {
    width: 15em; }

.groceryCheck {
  background: #D86D2F;
  border: none;
  vertical-align: middle;
  padding: 6.7px;
  color: #fff;
  cursor: pointer; }

.groceryCheck + p {
  display: inline-block;
  background: #2B1932;
  color: #fff;
  padding: 2px 20px;
  margin-left: -4.5px;
  vertical-align: middle; }

@media (min-width: 768px) {
  .un-button {
    padding: 6px 15vw;
    width: initial; }

  footer img {
    float: right; } }

/*# sourceMappingURL=main.css.map */
