body{
  background:$dark;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

.hero{
  background: url("../images/dinnerTable.jpg") center;
  background-size: cover;
  padding: 180px 0;
}

.img-responsive{
  width: 80%;
  margin: 0 auto;
}

#recipes{
  text-align: center;
  padding-top: 60px;
  font-size: 3em;
  font-weight: 300;
  p{
    padding-bottom:20px;
  }
}
.un-button,.custom-button{
  font-size: 0.6em;
  border: 2px solid #fff;
  color: #fff;
}
.un-button{
  width: 35vw;
  background: $dark;
  border-right: none;
}
.btn.un-button:hover, .btn.un-button:visited, .btn.un-button:active{
  color: #fff;
  z-index: 0;
  cursor: default;
}
.custom-button{
  background: $fall;
  border-left: none;
}
.dropdown-menu{
  width: 90%;
}
/****************************************************************************/

.recipePageHeader{
  border-bottom: 32px solid $dark;
}
.mainImageContainer{
  height: 325px;
}

.recipeLabel{
 background:url("../images/recipeName.svg")center center no-repeat;
 background-size: cover;
 height: 120px;
 width:400px;
 position: relative;
 top: 294px;
 margin:0 auto;
 p{
  padding-top: 30px;
  font-size: 2em;
  text-align: center;
 }
}

.recipeMain{
  background:$recipeBG;
  color: $dark;
  padding-top: 7em;
  font-size: 1.5em;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.6;
  
  section{ 
    img{
    width: 30px;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;
    }
    h3{
      display: inline-block;
      vertical-align: top;
      font-weight: 700;
    }
    ul{
      padding-left:5px;
      span{
        padding-left: 10px;
      }
      img{
        width:20px;
      }
    }
  }
}
.rotate{
      transform: rotate(-90deg);
}

.ham{
  background: url("../images/ham.jpeg")center center no-repeat;
  background-size: cover;
}

.ingredients,.instructions,.nutrition{
  padding-bottom:30px;
}





@media (max-width:767px) {
  #hero{
    padding: 100px 0;
  }
  .img-responsive{
    width: 100%;
    margin: 0 auto;
  }
  .un-button,.custom-button{
  font-size: 0.5em;
  }
  .un-button{
    width: 65vw;
  }
  .dropdown-menu{
    width: 100%;
  }
}